armor
comment ""
charset utf-8
keyserver hkp://keyserver.undergrid.net
keyserver hkp://na.pool.sks-keyservers.net
keyserver hkp://keyring.debian.org
keyserver pgp.mit.edu
auto-key-locate pka,keyserver
default-key 
with-fingerprint
list-options show-uid-validity
verify-options show-uid-validity
keyserver-options include-revoked

use-agent
secret-keyring ~/.gnupg/keyrings.d/secring.gpg
keyring ~/.gnupg/pubring.gpg
primary-keyring ~/.gnupg/pubring.gpg
trustdb-name ~/.gnupg/trustdb.gpg

personal-cipher-preferences AES256 AES192 AES CAST5
personal-digest-preferences SHA512 SHA384 SHA256 SHA224
cert-digest-algo SHA512
s2k-cipher-algo AES256
s2k-digest-algo SHA512
default-preference-list SHA512 SHA384 SHA256 SHA224 AES256 AES192 AES CAST5 ZLIB BZIP2 ZIP Uncompressed
